{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Lista de Cursos</h2>
    <div class="row">
        {% for curso in cursos %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{ curso.nome }}</h5>
                    <p class="card-text">{{ curso.descricao }}</p>
                    <a href="{% url 'detalhes_curso' curso.id %}" class="btn btn-primary">Detalhes</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Nenhum curso cadastrado.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}